<h1>Welcome to Ruby Decal Homework Week 3</h1>
<h3>This page has no practical function at all, let's go to <font color="green">/cities/new</font> to create a new city!</h3>
<style>
body {
	margin-left: 30px
}
h1 {
    color: red
}
</style>